


<div class="containerx">
  <div class="content-area">
    <img src="images/profilephoto.jpg" class="mainimage" alt="">
    <div class="intro-copy">
      <h1 class="name-headline">Syafrudin Djamil</h1>
      <h2 class="name-pro">/'sa:fru:dğ–¨n 'dÈa:mÄ«l/</h2>
      <h3 class="name-pro">noun</h3>
      <p class="defined">1. Developer in the making, former Product Manager. Commonly found playing video games or tinkering with technology.<br>2. Has never been seen in the same room as Batman...</p>
    </div>
  </div>
</div>


<div class="containery" id="sc-history">
  <div class="content-area">
    <img src="images/profilephoto.jpg" class="mainimage" alt="">
    <div class="intro-copy">
      <h1 class="name-headline">Syafrudin Djamil</h1>
      <h2 class="name-pro">/'sa:fru:dğ–¨n 'dÈa:mÄ«l/</h2>
      <h3 class="name-pro">noun</h3>
      <p class="defined">1. Developer in the making, former Product Manager. Commonly found playing video games or tinkering with technology.<br>2. Has never been seen in the same room as Batman...</p>
    </div>
  </div>
</div>


<div class="containery" id="sc-projects">
  <div class="content-area">
    <img src="images/profilephoto.jpg" class="mainimage" alt="">
    <div class="intro-copy">
      <h1 class="name-headline">Syafrudin Djamil</h1>
      <h2 class="name-pro">/'sa:fru:dğ–¨n 'dÈa:mÄ«l/</h2>
      <h3 class="name-pro">noun</h3>
      <p class="defined">1. Developer in the making, former Product Manager. Commonly found playing video games or tinkering with technology.<br>2. Has never been seen in the same room as Batman...</p>
    </div>
  </div>
</div>

<div class="containery" id="sc-contact">
  <div class="content-area concon">
    <div class="contact-copy">
      <h1 class="contact-links linkedin">LinkedIn</h1>
      <h1 class="contact-links github">Github</h1>
      <h1 class="contact-links email">Email</h1>


    </div>
  </div>
</div>
