


<div class="containerx">
  <div class="content-area">
      <div class="s">
        <img src="images/profilephotor.jpg" class="mainimage" alt="">
      </div>
          <div class="b">
            <img src="images/blue.png" class="mainimage" alt="">
          </div>
          <div class="j">
            <img src="images/green.png" class="mainimage" alt="">
          </div>


    <div class="intro-copy">
      <h1 class="name-headline">Syafrudin Djamil</h1>
      <h2 class="name-pro">/'sa:frƱdīn 'dȝa:mīl/</h2>
      <h3 class="name-pro">noun</h3>
      <p class="defined">1. Developer in the making, former Product Manager. Commonly found playing video games or tinkering with technology.<br>2. <span class="h glitch" data-text="Ha">Ha</span>s never been seen in the same room as <span class="g glitch" data-text="Batman">Batman</span>...</p>

    </div>
  </div>
</div>


<div class="containerz" id="sc-history">
  <div class="content-area history">
    <div class="card">
      <img class="card-img-left" src="images/coderacademylogo.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Current</h3>
        <p class="card-text">Full time student @ Coder Acadmey of AIT.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-left" src="images/vmalogo.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">2015-2017</h3>
        <p class="card-text">App & Digital Optimisation Specialist / Product manager @ Virgin Mobile Australia</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-left" src="images/yatangologo.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">2012 - 2015</h3>
        <p class="card-text">Customer Experience Manager @ Yatango (MVNO Startup)</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-left" src="images/vmaoldlogo.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">2005 - 2012</h3>
        <p class="card-text">Websales Coordinator @ Virgin Mobile Australia</p>
      </div>
    </div>

    </div>
  </div>


<div class="containery" id="sc-projects">
  <div class="content-area conpro justify-content-around">
    <div class="card">
      <img class="card-img-top" src="images/projects-atm.png" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">ATM Challange</h6>
        <p class="card-text">A ruby app that simulates the basic functions of an ATM in Terminal.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/projects-dribble-recreation.png" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">Rollcallatron</h6>
        <p class="card-text">A Terminal based Ruby app that assisted in capturing a class roll-call.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/projects-amaysimclone.png" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">Amaysim Clone</h6>
        <p class="card-text">A lesson in recreating Amaysims homepage and plans page.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/projects-dribble-recreation.png" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title">Dribble Recreation</h6>
        <p class="card-text">An attempt at building a responsive page from a dibbble design.</p>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="containery" id="sc-contact">
  <div class="content-area concon">
    <div class="contact-copy">
      <a class="contact-links linkedin" href="https://www.linkedin.com/in/syafrudin-djamil-a3974852/" target="_blank">LinkedIn</a>
      <a class="contact-links github" href="https://github.com/thesyaf" target="_blank">Github</a>
      <a class="contact-links email" href="mailto:syafrudin.jamil@gmail.com" target="_blank">Email</a>


    </div>
  </div>
</div>
