


<div class="containerx">
  <div class="content-area">
    <img src="images/profilephoto.jpg" class="mainimage" alt="">
    <div class="intro-copy">
      <h1 class="name-headline">Syafrudin Djamil</h1>
      <h2 class="name-pro">/'sa:fru:dīn 'dȝa:mīl/</h2>
      <h3 class="name-pro">noun</h3>
      <p class="defined">1. Developer in the making, former Product Manager. Commonly found playing video games or tinkering with technology.<br>2. Has never been seen in the same room as Batman...</p>
    </div>
  </div>
</div>


<div class="containery" id="sc-history">
  <div class="content-area">
    <div class="card">
      <img class="card-img-top" src="images/coderacademylogo.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">Current</h3>
        <p class="card-text">Full time student @ Coder Acadmey of AIT.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/vmalogo.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">2015-2017</h3>
        <p class="card-text">App @ Digital Optimisation Specialist / Product manager @ Virgin Mobile Australia</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/yatangologo.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">2012 - 2015</h3>
        <p class="card-text">Customer Experience Manager @ Yatango (MVNO Startup)</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/vmaoldlogo.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">2005 - 2012</h3>
        <p class="card-text">Websales Coordinator @ Virgin Mobile Australia</p>
      </div>
    </div>
      <!-- <div class="item">
        <div id="timeline">
          <div>
            <section class="year">
              <h3>2005 - 2012</h3>
              <section>
                <h4>Virgin Mobile Australia</h4>
                <ul>
                  <li>Websales Coordinator</li>
                </ul>
              </section>
            </section>
            <section class="year">
              <h3>2012 - 2015</h3>
              <section>
                <h4>Yatango (Startup MVNO)</h4>
                <ul>
                  <li>Customer Experience/Product Manager</li>
                </ul>
              </section>
            </section>
            <section class="year">
              <h3>2015 - 2017</h3>
              <section>
                <h4>Virgin Mobile Australia</h4>
                <ul>
                  <li>App @ Digital Optimisation Specialist / Product manager</li>
                </ul>
              </section>
            </section>

            <section class="year">
              <h3>2017</h3>
              <section>
                <h4>Full Time Student</h4>
                <ul>
                  <li>Coder Academy of AIT.</li>
                </ul>
              </section>
            </section>
          </div>
        </div>
      </div> -->
    </div>
  </div>


<div class="containery" id="sc-projects">
  <div class="content-area">
    <img src="images/profilephoto.jpg" class="mainimage" alt="">
    <div class="intro-copy">
      <h1 class="name-headline">Syafrudin Djamil</h1>
      <h2 class="name-pro">/'sa:fru:d𝖨n 'dȝa:mīl/</h2>
      <h3 class="name-pro">noun</h3>
      <p class="defined">1. Developer in the making, former Product Manager. Commonly found playing video games or tinkering with technology.<br>2. Has never been seen in the same room as Batman...</p>
    </div>
  </div>
</div>

<div class="containery" id="sc-contact">
  <div class="content-area concon">
    <div class="contact-copy">
      <h1 class="contact-links linkedin">LinkedIn</h1>
      <h1 class="contact-links github">Github</h1>
      <h1 class="contact-links email">Email</h1>


    </div>
  </div>
</div>
