
<div class="intro">
  <div class="container-sd">
    <svg xmlns="http://www.w3.org/2000/svg" height=100vh viewbox="0 0 800 600">
    <path class="logo" fill="transparent" d="M121.306 41.253 L 99.111 58.500 99.056 114.507 L 99.000 170.515 166.250 200.435 C 203.238 216.891,243.278 234.663,255.230 239.927 L 276.959 249.500 276.980 265.201 C 277.015 292.431,270.706 307.792,253.487 322.400 C 234.775 338.274,229.401 339.500,178.500 339.500 L 137.500 339.500 137.242 277.250 L 136.985 215.000 117.992 215.000 L 99.000 215.000 99.000 296.000 L 99.000 377.000 152.250 376.991 C 232.390 376.979,246.329 374.597,270.500 356.787 C 304.388 331.816,315.987 305.549,315.996 253.756 L 316.000 230.011 298.750 221.366 C 282.616 213.281,252.365 199.597,172.500 164.258 C 154.350 156.226,138.938 149.228,138.250 148.705 C 137.284 147.971,137.000 137.906,137.000 104.378 L 137.000 61.000 177.340 61.000 C 227.882 61.000,233.913 62.209,250.733 75.707 C 272.025 92.795,276.963 105.875,276.985 145.250 L 277.000 171.000 296.592 171.000 L 316.185 171.000 315.760 142.750 C 315.066 96.652,307.300 76.751,280.208 51.645 C 255.997 29.209,240.263 24.715,184.500 24.307 L 143.500 24.007 121.306 41.253 " />
    </svg>
  </div>
</div>


<!-- Home screen -->
<div class="containerx">
  <div class="content-area">
      <div class="s">
        <img src="images/profilephotor.jpg" class="mainimage" alt="profile photo">
      </div>
      <!-- easter eggs -->
          <div class="b">
            <img src="images/blue.png" class="mainimage" alt="alternate profile photo 1">
          </div>
          <div class="j">
            <img src="images/green.png" class="mainimage" alt="alternate profile photo 2">
          </div>


    <div class="intro-copy">
      <h1 class="name-headline">Syafrudin Djamil</h1>
      <h2 class="name-pro">/'sa:frʊdīn 'dʒa:mīl/</h2>
      <h3 class="name-pro">noun</h3>
      <p class="defined">1. Developer in the making, former Product Manager. Commonly found playing video games or tinkering with technology.<br>2. <span class="h glitch" data-text="Ha">Ha</span>s never been seen in the same room as <span class="g glitch" data-text="Batman">Batman</span>...</p>

    </div>
  </div>
</div>

<!-- history section -->
<div class="containerz" id="sc-history">
  <img class="close-icon close-history" src="images/close-icon.png" alt="close button">
  <div class="content-area history">
    <div class="card">
      <img class="card-img-left" src="images/coderacademylogo.jpg" alt="Coder Academy logo">
      <div class="card-body">
        <h3 class="card-title">Current</h3>
        <p class="card-text">Full time student @ Coder Acadmey of AIT.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-left" src="images/vmalogo.jpg" alt="Virgin Mobile Australia logo">
      <div class="card-body">
        <h3 class="card-title">2015-2017</h3>
        <p class="card-text">App & Digital Optimisation Specialist / Product manager @ Virgin Mobile Australia</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-left" src="images/yatangologo.png" alt="Yatango logo">
      <div class="card-body">
        <h3 class="card-title">2012 - 2015</h3>
        <p class="card-text">Customer Experience Manager @ Yatango (MVNO Startup)</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-left" src="images/vmaoldlogo.jpg" alt="Old Virgin Mobile Australia logo">
      <div class="card-body">
        <h3 class="card-title">2005 - 2012</h3>
        <p class="card-text">Websales Coordinator @ Virgin Mobile Australia</p>
      </div>
    </div>

    </div>
  </div>

<!-- projects section -->
<div class="containery" id="sc-projects">
  <img class="close-icon close-projects" src="images/close-icon.png" alt="close button">
  <div class="content-area conpro justify-content-around">
    <div class="card">
      <img class="card-img-top" src="images/projects-atm.png" alt="ATM challange screenshot">
      <div class="card-body">
        <h6 class="card-title">ATM Challange</h6>
        <p class="card-text">A ruby app that simulates the basic functions of an ATM in Terminal.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/projects-rollcallatron.png" alt="Rollcallatron app image">
      <div class="card-body">
        <h6 class="card-title">Rollcallatron</h6>
        <p class="card-text">A Terminal based Ruby app that assisted in capturing a class roll-call.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/projects-amaysimclone.png" alt="Amaysim clone screenshot">
      <div class="card-body">
        <h6 class="card-title">Amaysim Clone</h6>
        <p class="card-text">A lesson in recreating Amaysims homepage and plans page.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="images/projects-dribble-recreation.png" alt="Dribble design recreation screenshot">
      <div class="card-body">
        <h6 class="card-title">Dribble Recreation</h6>
        <p class="card-text">An attempt at building a responsive page from a dibbble design.</p>
      </div>
    </div>

    </div>
  </div>

<!-- contact section -->
<div class="containerw" id="sc-contact">
  <img class="close-icon close-contact" src="images/close-icon.png" alt="close button">
  <div class="content-area concon">
    <div class="contact-copy">
      <a class="contact-links linkedin" href="https://www.linkedin.com/in/syafrudin-djamil-a3974852/" target="_blank">LinkedIn</a>
      <a class="contact-links github" href="https://github.com/thesyaf" target="_blank">Github</a>
      <a class="contact-links email" href="mailto:syafrudin.jamil@gmail.com" target="_blank">Email</a>


    </div>
  </div>
</div>
