/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.intro {
  background-color: white;
  height: 100vh;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: zadjust 6s linear forwards;
}

.container-sd {
  display: block;
  padding-left: 30%;
}

.containerx {
  background-color: white;
  height: 100vh;
  -webkit-animation: 7s ease 0s normal forwards 1 fadein;
  animation: 7s ease 0s normal forwards 1 fadein;
}

.containery {
  background-color: black;
  color: white;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0px;
  left: 0;
  display: none;
}

@media (min-width: 576px) {
  .containery {
    top: 0 ;
    height: auto;
  }
}

.containerz {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  height: -webkit-fill-available;
}

@media (min-width: 576px) {
  .containerz {
    top: 0;
  }
}

.containerw {
  background-color: black;
  color: white;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  height: -webkit-fill-available;
}

@media (min-width: 576px) {
  .containerw {
    top: 0;
  }
}

.close-icon {
  width: 40px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.content-area {
    padding: 30px;
}

@media (min-width: 576px) {
  .content-area {
    max-width: 700px;
    display: block;
    margin: auto;
    padding-top: 200px;
  }
  .containerz .content-area {
    padding-top: 90px;
  }
}

.mainimage {
  max-width: 200px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

@media (min-width: 576px) {
  .mainimage {
    max-width: 250px;
    border-radius: 50%;
    float: right;
  }
}
.intro-copy {
  font-family: courier;

}

.name-pro {
  font-style: italic;
}

.name-headline {
  font-weight: bold;
}

.navibox {
  display: none;
}

.mobile-menu {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 576px) {
  .navibox {
    position: absolute;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    font-family: courier;
    color: grey;
    z-index: 30;
  }

  .mobile-menu {
    display: none;
  }
}

/*div[class^="nav"] {
  cursor: pointer;
}*/

.navhistory {
}

.navprojects {

}

.navcontact {

}

@media (min-width: 576px) {
  .navhistory {
    transform: rotate(90deg);
    left: 0;
    margin-top: 300px;
    position: fixed;
  }
}

@media (min-width: 576px) {
  .navprojects {
    transform: rotate(-90deg);
    right: 0;
    margin-top: 300px;
    position: fixed;
  }
}


@media (min-width: 576px) {
  .navcontact {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }
}


/*history content*/
.history .card {
  border: 0;
  background-color: black;
  flex-direction: row;
  margin: 5px 0;
  font-size: 1em;
}

.history .card h3 {
  font-size: 1.1em;
  font-weight: bold;
}
.history .card-body {
  padding: 1.25rem;
}

.card-img-left {
  max-width: 70px;
  max-height: 70px;
  border-radius: calc(.25rem - 1px);
  margin-top: 1.25em;
}

@media (min-width: 576px) {
  .card-img-left {
    max-width: 100px;
    max-height: 100px;
    border-radius: calc(.25rem - 1px);
  }
}


/*contact screen content*/
.contact-links {
  font-size: 18vw;
  font-family: helvetica;
  line-height: 2.7;
  font-weight: bolder;
  color: white
}

@media (min-width: 576px) {
  .contact-links {
    line-height: 0.7;
  }
}

.contact-links:hover {
  text-decoration: none;
  color: white;
}

.github {
  letter-spacing: 3.23vw
}

.email {
  letter-spacing: 6.6vw;
}

.contact-copy {
    margin: 10px;
}

.concon {
  padding-top: 20px;
}

@media (min-width: 576px) {
  .concon {
    margin-left: 100px;
    padding-top: 120px;
    max-width: min-content;
  }
}

/*projects content*/

.conpro .card {
  border: 0;
  background-color: black;
  margin: 5px 0;
  width: 330px;
  font-size: 1em;
}

.conpro {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.b {
  display:none;
}

.j {
  display:none;
}



/*glitch effects*/


@keyframes noise-anim {
  0% {
    clip: rect(13px, 9999px, 10px, 0);
  }
  5% {
    clip: rect(39px, 9999px, 57px, 0);
  }
  10% {
    clip: rect(74px, 9999px, 57px, 0);
  }
  15% {
    clip: rect(82px, 9999px, 68px, 0);
  }
  20% {
    clip: rect(39px, 9999px, 44px, 0);
  }
  25% {
    clip: rect(90px, 9999px, 19px, 0);
  }
  30% {
    clip: rect(67px, 9999px, 69px, 0);
  }
  35% {
    clip: rect(69px, 9999px, 25px, 0);
  }
  40% {
    clip: rect(97px, 9999px, 46px, 0);
  }
  45% {
    clip: rect(27px, 9999px, 16px, 0);
  }
  50% {
    clip: rect(86px, 9999px, 56px, 0);
  }
  55% {
    clip: rect(62px, 9999px, 24px, 0);
  }
  60% {
    clip: rect(69px, 9999px, 76px, 0);
  }
  65% {
    clip: rect(73px, 9999px, 48px, 0);
  }
  70% {
    clip: rect(90px, 9999px, 78px, 0);
  }
  75% {
    clip: rect(93px, 9999px, 15px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 78px, 0);
  }
  85% {
    clip: rect(80px, 9999px, 78px, 0);
  }
  90% {
    clip: rect(78px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(28px, 9999px, 24px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 81px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  text-shadow: -1px 0 red;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(91px, 9999px, 80px, 0);
  }
  5% {
    clip: rect(64px, 9999px, 34px, 0);
  }
  10% {
    clip: rect(64px, 9999px, 35px, 0);
  }
  15% {
    clip: rect(30px, 9999px, 75px, 0);
  }
  20% {
    clip: rect(1px, 9999px, 95px, 0);
  }
  25% {
    clip: rect(55px, 9999px, 18px, 0);
  }
  30% {
    clip: rect(64px, 9999px, 1px, 0);
  }
  35% {
    clip: rect(77px, 9999px, 86px, 0);
  }
  40% {
    clip: rect(73px, 9999px, 2px, 0);
  }
  45% {
    clip: rect(4px, 9999px, 28px, 0);
  }
  50% {
    clip: rect(82px, 9999px, 45px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 56px, 0);
  }
  60% {
    clip: rect(6px, 9999px, 35px, 0);
  }
  65% {
    clip: rect(49px, 9999px, 1px, 0);
  }
  70% {
    clip: rect(87px, 9999px, 90px, 0);
  }
  75% {
    clip: rect(39px, 9999px, 88px, 0);
  }
  80% {
    clip: rect(69px, 9999px, 13px, 0);
  }
  85% {
    clip: rect(48px, 9999px, 54px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 90px, 0);
  }
  95% {
    clip: rect(43px, 9999px, 9px, 0);
  }
  100% {
    clip: rect(10px, 9999px, 83px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 1px 0 green;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}

/*intro*/

@keyframes offset {
  80% { stroke-dashoffset: 0; }
}

@keyframes fill-it {
  100% { fill: #000; }
}

@keyframes zadjust {
  0% { z-index: 50; }
  90% { z-index: 31; opacity: 1; margin-top: 0; }
  100% { z-index: 0; opacity: 0; margin-top: 23px;}
}


svg {
	display: block;
	margin: 1em auto 0;
	width: 100%;
}

.logo {
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 810;
  stroke-dashoffset: 810;
  animation: offset 3s linear forwards, fill-it .8s 3s forwards;
}

/*main*/

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
