/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.containerx {
  background-color: white;
  height: 100vh;
}

.containery {
  background-color: black;
  color: white;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0;
  display: none;
}


.content-area {
    padding: 30px;
}

@media (min-width: 576px) {
  .content-area {
    max-width: 700px;
    display: block;
    margin: auto;
    padding-top: 200px;
  }
}

.mainimage {
  max-width: 200px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

@media (min-width: 576px) {
  .mainimage {
    max-width: 250px;
    border-radius: 50%;
    float: right;
  }
}
.intro-copy {
  font-family: courier;
}

.name-pro {
  font-style: italic;
}

.name-headline {
  font-weight: bold;
}

.navibox {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-family: courier;
  color: grey;
  border: 2px solid;
  z-index: 30;
}

div[class^="nav"] {
  cursor: pointer;
}

.navhistory {
  transform: rotate(90deg);
  float: left;
  margin-top: 300px;
  position: fixed;

}

.navprojects {
  transform: rotate(-90deg);
  right: 0;
  margin-top: 300px;
  position: fixed;
}

.navcontact {
  margin-left: 40%;
}

.contact-links {
  font-size: 18vw;
  font-family: helvetica;
  line-height: 0.7;
  font-weight: bolder;

}

.github {
  letter-spacing: 3.23vw
}

.email {
  letter-spacing: 6.6vw;
}

.concon {
  padding-top: 120px;
  margin-left: 100px;
}
