
<!--
<nav class="navbar fixed-bottom justify-content-center nav-box">

  <ul class="nav">
    <li class="nav-item" data-menuanchor="firstPage">
      <a class="nav-link active" href="#firstPage">projects</a>
    </li>
    <li class="nav-item" data-menuanchor="secondPage">
      <a class="nav-link" href="#secondPage">history</a>
    </li>
    <li class="nav-item data-menuanchor="thirdPage"">
      <a class="nav-link" href="#thirdPage">contact</a>
    </li>

  </ul>

</nav> -->



<div class="navibox">
  <div class="navhistory ">ğŠ¼ history ğŠ¼</div>
  <div class="navcontact ">ğŠ¼ contact ğŠ¼</div>
  <div class="navprojects ">ğŠ¼ projects ğŠ¼</div>
</div>


<!-- <div class="navibox-alt fixed-bottom d-flex justify-content-around">
  <div class="navhistory-alt">ğŠ¼ history ğŠ¼</div>
  <div class="navcontact-alt">ğŠ¼ contact ğŠ¼</div>
  <div class="navprojects-alt">ğŠ¼ projects ğŠ¼</div>
</div> -->
