

  <div class="navhistory navibox">history</div>
  <div class="navcontact navibox">contact</div>
  <div class="navprojects navibox">projects</div>



<div class="mobile-menu">
  <div class="mnav-history">history</div>
  <div class="mnav-contact">contact</div>
  <div class="mnav-projects">projects</div>
</div>
