
<!--
<nav class="navbar fixed-bottom justify-content-center nav-box">

  <ul class="nav">
    <li class="nav-item" data-menuanchor="firstPage">
      <a class="nav-link active" href="#firstPage">projects</a>
    </li>
    <li class="nav-item" data-menuanchor="secondPage">
      <a class="nav-link" href="#secondPage">history</a>
    </li>
    <li class="nav-item data-menuanchor="thirdPage"">
      <a class="nav-link" href="#thirdPage">contact</a>
    </li>

  </ul>

</nav> -->



<div class="navibox">
  <div class="navhistory">ğŠ¼historyğŠ¼</div>
  <div class="navcontact fixed-bottom">ğŠ¼contactğŠ¼</div>
  <div class="navprojects">ğŠ¼projectsğŠ¼</div>
</div>
